.banner-card {
    position: relative;
    margin: 25px 55px;
}

.banner-card img{
    width: 1220px;
    height: 500px;
    flex-shrink: 0px;
    border-radius: 16px;
    background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%);
}

.banner-text {
    position: absolute;
    top: 0;
    bottom: 120px;
    right: 0;
    left: 80px;
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    color: #FFF;
} 

 .banner-text h1 {
   
    font-family: Merriweather;
    font-size: 72px;
    font-style: normal;
    font-weight: 900;
    line-height: 95px; 131.944% ;
}    

.banner-text h5{
    font-family: Merriweather;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}